<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "PageIndex",
  methods: {
    uuidv4: function () {
      return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, (c) =>
        (
          c ^
          (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))
        ).toString(16)
      );
    },
  },
  mounted: async function () {
    var response = await this.$api.post("create-payment", {
      orderId: this.uuidv4(),
      amount: 100000,
      orderDesc: "this is desc",
      createdDate: new Date(Date.now()),
      status: "0",
      paymentTranId: 0,
      bankCode: "NCB",
      payStatus: "string",
      locale: "en",
      category: "billpayment",
      expireDate: "31/12/2022",
      billInfo: {
        mobile: "0349039671",
        email: "dnhanh95@gmail.com",
        address: "Ha Noi",
        fullName: "Dang Nhat Anh",
        city: "Ha Noi",
        country: "Viet Nam",
        state: "Ha Noi",
      },
      invoice: {
        phone: "0349039671",
        email: "dnhanh95@gmail.com",
        customer: "Dang Nhat Anh",
        address: "Ha Noi",
        company: "cab",
        taxcode: "100000",
        type: "I",
      },
    });
    if (response && response.data) {
      window.location.href = response.data;
    }
  },
});
</script>
