<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    />
    <div>{{ result.vnp_Amount }}</div>
  </q-page>
</template>

<script>
import { defineComponent, onMounted, reactive } from "vue";
import { api } from "boot/axios";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "PageResult",
  setup() {
    const route = useRoute();
    let result = reactive({});

    const changeToCabPaymentObject = function (vnPayResult) {
      for (const key of Object.keys(vnPayResult)) {
        let newKey = key;
        //TODO: bỏ đoạn if ở dưới
        if (key.includes("vnp_")) {
          newKey = key.substring(4, key.length);
        }
        result[newKey] = vnPayResult[key];
      }
      result.IpnQuery = route.fullPath.substring(route.path.length);
    };

    const updatePayment = async function (cabPayment) {
      result = await api.post("update-payment", cabPayment);
      console.log("[UPDATED] payment");
      console.log(result);
    };

    onMounted(async function () {
      const vnPayResult = route.query;
      changeToCabPaymentObject(vnPayResult);
      await updatePayment(result);
      console.log("[UPDATING] payment");
    });

    return { result };
  },
});
</script>
